body {
background-color: #adacac;
color: rgb(0, 0, 0);
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #0e0d0d;
color: rgb(238, 6, 6);
font-family: "Bai Jamjuree", sans-serif;
}