body {
background-color: #6d0909;
color: rgb(71, 71, 71);
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #64A712;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}